<template>
  <div>
    <el-button @click="tab(2)">线索数据</el-button>
    <el-button @click="tab(1)">访问记录</el-button>
    <div v-if="currentIndex == 2">
      <el-table :data="list" fit highlight-current-row style="width: 100%">
        <el-table-column type="index" width="50" label="序号" align="center" />
        <el-table-column property="application" label="来源" align="center" />
        <el-table-column property="name" label="客户名称" align="center" />
        <el-table-column property="phone" label="客户电话" align="center" />
        <el-table-column property="ip" label="IP地址" align="center" />
        <el-table-column property="salesmanName" label="销售人员名称" align="center" />
        <el-table-column property="salesmanTel" label="销售人员电话" align="center" />
        <el-table-column property="salesmanEmail" label="销售人员邮箱" align="center" />
        <el-table-column property="CreatedAt" label="创建时间" align="center" />
      </el-table>
    </div>
    <div v-if="currentIndex == 1">
      <el-table :data="list" fit highlight-current-row style="width: 100%">
        <el-table-column type="index" width="50" label="序号" align="center" />
        <el-table-column property="ip" label="ip" align="center" />
        <el-table-column property="CreatedAt" label="创建时间" align="center" />
      </el-table>
    </div>

    <div style="text-align:center;">
      <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :page-sizes="[15, 30, 50, 100]" :limit.sync="listQuery.limit" @pagination="getList" />
    </div>
  </div>

</template>

<script>
import { clueinfo, accessinfo } from '@/api/data'
import Pagination from '@/components/Pagination'
export default {
  components: { Pagination },
  data() {
    return {
      list: [],
      total: 0,
      listQuery: {
        page: 1,
        limit: 15
      },
      currentIndex: 2,
      listLoading: false
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      let api
      const params = {
        page: this.listQuery.page,
        limit: this.listQuery.limit
      }
      if (this.currentIndex === 1) {
        api = accessinfo
        params.offsite = 'bd'
      } else {
        api = clueinfo
        params.offsite = 'bd'
      }
      this.listLoading = true
      api(params).then(data => {
        if (data.code === 200) {
          this.list = data.data
          this.total = data.total
          this.listLoading = false
        }
      })
    },
    tab(num) {
      this.currentIndex = num
      this.getList()
    }
  }

}
</script>

<style lang="scss" scoped>
.flex{
  display: flex;
}
</style>
