<template>
  <div>
    <el-select v-model="listQuery.offsite" clearable placeholder="请选择官网" @change="offsiteChange">
      <el-option v-for="(item ,index) in option" :key="index" :value="item.value" :name="item.name" />
    </el-select>
    <el-date-picker
      v-model="listQuery.daterange"
      type="daterange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      value-format="yyyy-MM-dd"
      @change="dateChange"
    />
    <el-table :data="list" fit highlight-current-row style="width: 100%">
      <el-table-column property="IP" label="IP地址" align="center" />
      <el-table-column property="repeatNum" label="访问次数" align="center" />
    </el-table>
    <div style="text-align:center;">
      <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :page-sizes="[15, 30, 50, 100]" :limit.sync="listQuery.limit" @pagination="getList" />
    </div>
  </div>

</template>

<script>
import { stat } from '@/api/data'
import Pagination from '@/components/Pagination'
export default {
  components: { Pagination },
  data() {
    return {
      list: [],
      total: 0,
      listQuery: {
        page: 1,
        limit: 15,
        offsite: '',
        daterange: ''
      },
      value1: '',
      option: [
        { value: 'ba', name: 'ba' },
        { value: 'bb', name: 'bb' },
        { value: 'bd', name: 'bd' },
        { value: 'be', name: 'be' },
        { value: 'bf', name: 'bf' }
      ],
      listLoading: false
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      const params = {
        page: this.listQuery.page,
        limit: this.listQuery.limit,
        offsite: this.listQuery.offsite,
        from_time: this.listQuery.daterange ? this.listQuery.daterange[0] + ' 00:00:00' : '',
        to_time: this.listQuery.daterange ? this.listQuery.daterange[1] + ' 23:59:59' : ''
      }
      this.listLoading = true
      stat(params).then(data => {
        if (data.code === 200) {
          this.list = data.data
          this.total = data.total
          this.listLoading = false
        }
      })
    },
    offsiteChange(value) {
      this.getList()
    },
    dateChange() {
      console.log(this.listQuery.daterange)
      this.getList()
    }
  }

}
</script>

<style lang="scss" scoped>
.flex{
  display: flex;
}
</style>
